.cemail {

  &__container {
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555;
    border-radius: 4px;
    transition: box-shadow 0.2s;
    background-color: #fafafa;
  }

  &__container:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
  }

  &__seperator {
    color: black;
    margin-left: 3px;
    margin-right: 3px;
  }

  &__food {
    color: #e65c00;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    margin: 2px;
  }

  &__foods {
    margin-top: 10px;
  }

  &__location {
    color: #2d5986;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__time {

  }

  &__times {
    margin-bottom: 10px;
  }

}
